@orange-color: #ff7a59;
@green-color: #cbdcd2; // #96afb9 #cbdcd2
@gray-color: #eeeeee;
@gray-font-color: rgba(0, 0, 0, 0.5);

@font-face {
  font-family: 'iconfont'; /* Project id 4026703 */
  src: url('//at.alicdn.com/t/c/font_4026703_rwpqep3pufe.woff2?t=1682088635450')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_4026703_rwpqep3pufe.woff?t=1682088635450')
      format('woff'),
    url('//at.alicdn.com/t/c/font_4026703_rwpqep3pufe.ttf?t=1682088635450')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shaniaologo:before {
  content: '\e63f';
}

.icon-hand_right:before {
  content: '\e772';
}

.icon-yuyinjiantou:before {
  content: '\e903';
}

.icon-youjiantou-sange:before {
  content: '\e64e';
}

.icon-shejiyishu:before {
  content: '\e630';
}

.icon-shouhou-2:before {
  content: '\e7ae';
}

.icon-shigongdi:before {
  content: '\e628';
}

.icon-icf_folder_complete:before {
  content: '\e764';
}

.icon-chat:before {
  content: '\e749';
}

.icon-chat1:before {
  content: '\e60a';
}

.icon-Chat:before {
  content: '\e711';
}

.icon-yyjl:before {
  content: '\e63b';
}
