body {
  min-width: 380px;
  box-sizing: border-box;
}
.layout {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  visibility: visible;
  z-index: 0;
  &__content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .scroll-reveal-animation {
    visibility: hidden;
  }
}
.hide {
  transform: translateY(-100vh) !important;
  visibility: hidden !important;
  transition: all 0.5s ease-out !important;
}
